<img src="assets/img/general/wind-32x32.svg" class="pb-1" *ngIf="technologyType == TechnologyTypeEnum.EOLIEN && !versionBlanc"/>
<img src="assets/img/general/wind-32x32-blanc.svg" class="pb-1" *ngIf="technologyType == TechnologyTypeEnum.EOLIEN && versionBlanc"/>
<img src="assets/img/general/solar.svg" class="pb-1" *ngIf="technologyType == TechnologyTypeEnum.PHOTOVOLTAIQUE && !versionBlanc"/>
<img src="assets/img/general/solar-blanc.svg" class="pb-1" *ngIf="technologyType == TechnologyTypeEnum.PHOTOVOLTAIQUE && versionBlanc"/>