server:
  port: 8080
spring:
  profiles:
    active: dev
    # cette ligne permet d'exclure la configuration de sécurité par défaut de Springboot. Ainsi, on redéfinira la configuration selon notre convenance.
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration,org.springframework.boot.actuate.autoconfigure.security.servlet.ManagementWebSecurityAutoConfiguration
  application:
    name: star-backend
management:
  endpoint:
    health:
      probes:
        enabled: true
    metrics:
      enabled: false
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: /
logging:
  level:
    org:
      hyperledger:
        fabric:
          sdk: WARN

# the realm name
keycloak:
  realm: star-dapp
  auth-server-url: https://star.localhost/auth/
  ssl-required: none
  disable-trust-manager: true
  # the client name
  resource: star-backend-springboot
  bearer-only: true
  credentials:
    secret: 34f485e9ac95696a0d9f
  use-resource-role-mappings: true
  principal-attribute: preferred_username
#  Valeur possible : tso/dso/producer
instance: tso

blockchain:
  api:
    networkName: star
    contract: star
hyperledger-fabric:
  ca-client:
    url: https://localhost:7054
    pemFile: /home/legeric/fabric/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/ca/ca.org1.example.com-cert.pem
#    pemFile: backend/api/src/main/resources/ca.org1.example.com-cert.pem
    allowAllHostNames: true
  gateway:
    discovery: true
    networkConfig: /home/legeric/fabric/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/connection-org1.yaml
#    networkConfig: backend/api/src/main/resources/connection-org1.yaml
    walletPath: wallets
    identityId: admin
    password: adminpw

