<table mat-table matSort [dataSource]="dataSorted" class="w-100 limitations" (matSortChange)="sortChange($event)">

  <ng-container matColumnDef="technologyType">
    <th mat-header-cell *matHeaderCellDef> {{ 'technologyType' | LimitationTableFieldPipe }} </th>
    <td mat-cell *matCellDef="let element">
      <app-icon-technology-type [technologyType]="element.site.technologyType" *ngIf="element.site"></app-icon-technology-type>
    </td>
  </ng-container>

  <ng-container matColumnDef="displayedSourceName">
    <th mat-header-cell *matHeaderCellDef> {{ 'displayedSourceName' | LimitationTableFieldPipe }} </th>
    <td mat-cell *matCellDef="let element"> <strong>{{ element.displayedSourceName }}</strong> </td>
  </ng-container>

  <ng-container matColumnDef="producerMarketParticipantName">
    <th mat-header-cell *matHeaderCellDef> {{ 'producerMarketParticipantName' | LimitationTableFieldPipe }} </th>
    <td mat-cell *matCellDef="let element"> <strong>{{ prettyPrint(element.producer?.producerMarketParticipantName) }}</strong> </td>
  </ng-container>

  <ng-container matColumnDef="siteName">
    <th mat-header-cell *matHeaderCellDef> {{ 'siteName' | LimitationTableFieldPipe }} </th>
    <td mat-cell *matCellDef="let element"> {{ prettyPrint(element.site?.siteName) }} </td>
  </ng-container>

  <ng-container matColumnDef="meteringPointMrid">
    <th mat-header-cell *matHeaderCellDef> {{ 'meteringPointMrid' | LimitationTableFieldPipe }} </th>
    <td mat-cell *matCellDef="let element"> {{ prettyPrint(element.site?.meteringPointMrid) }} </td>
  </ng-container>

  <ng-container matColumnDef="producerMarketParticipantMrid">
    <th mat-header-cell *matHeaderCellDef> {{ 'producerMarketParticipantMrid' | LimitationTableFieldPipe }} </th>
    <td mat-cell *matCellDef="let element"> {{ prettyPrint(element.producer?.producerMarketParticipantMrid) }} </td>
  </ng-container>

  <ng-container matColumnDef="debutLimitation">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'debutLimitation' | LimitationTableFieldPipe }} </th>
    <td mat-cell *matCellDef="let element">
      <app-limitations-horodates [ordreLimitation]="element.activationDocument" [ordreLimitationLinked]="element.subOrderList[0]" [showStartDates]="true"></app-limitations-horodates>
    </td>
  </ng-container>

  <ng-container matColumnDef="finLimitation">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> {{ 'finLimitation' | LimitationTableFieldPipe }} </th>
    <td mat-cell *matCellDef="let element">
      <app-limitations-horodates [ordreLimitation]="element.activationDocument" [ordreLimitationLinked]="element.subOrderList[0]" [showEndDates]="true"></app-limitations-horodates>
    </td>
  </ng-container>

  <ng-container matColumnDef="indemnisation">
    <th mat-header-cell *matHeaderCellDef> {{ 'indemnisation' | LimitationTableFieldPipe }} </th>
    <td mat-cell *matCellDef="let element">
      <app-limitations-indemnisation [eligibilityStatus]="element.activationDocument.eligibilityStatus" [eligibilityStatusEditable]="element.activationDocument.eligibilityStatusEditable" [activationDocumentMrid]="element.activationDocument.activationDocumentMrid"></app-limitations-indemnisation>
    </td>
  </ng-container>

  <ng-container matColumnDef="montantIndemnisation">
    <th mat-header-cell *matHeaderCellDef> {{ 'montantIndemnisation' | LimitationTableFieldPipe }} </th>
    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.balancingDocument ? element.balancingDocument.financialPriceAmount + ' ' + element.balancingDocument.currencyUnitName : '' }} </td>
  </ng-container>

  <ng-container matColumnDef="typeLimitation">
    <th mat-header-cell *matHeaderCellDef> {{ 'typeLimitation' | LimitationTableFieldPipe }} </th>
    <td mat-cell *matCellDef="let element"> {{ element.limitationType }} </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> {{ 'quantity' | LimitationTableFieldPipe }} </th>
    <td mat-cell *matCellDef="let element" class="text-center">
      {{ element.energyAmount?.quantity}}
      <button mat-raised-button class="bg-primary text-white" (click)="chargerEne(element)" *ngIf="instance == InstanceEnum.TSO && element.energyAmount == null && element.site && element.site?.typeSite == TypeSiteEnum.HTB">
        <i [class]="'fa-solid fa-pen'"></i>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="tarifUnitaire">
    <th mat-header-cell *matHeaderCellDef> {{ 'tarifUnitaire' | LimitationTableFieldPipe }} </th>
    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.reserveBidMarketDocument != null ? element.reserveBidMarketDocument.energyPriceAmount + ' ' + element.reserveBidMarketDocument.priceMeasureUnitName : '' }}</td>
  </ng-container>

  <ng-container matColumnDef="motif">
    <th mat-header-cell *matHeaderCellDef> {{ 'motif' | LimitationTableFieldPipe }} </th>
    <td mat-cell *matCellDef="let element"> {{ element.motifName }} </td>
  </ng-container>

  <ng-container matColumnDef="commentaires">
    <th mat-header-cell *matHeaderCellDef> {{ 'commentaires' | LimitationTableFieldPipe }} </th>
    <td mat-cell *matCellDef="let element" class="text-center">
      <app-limitations-feedback-producer [historiqueLimitation]="element"></app-limitations-feedback-producer>
    </td>
  </ng-container>

  <ng-container matColumnDef="statusIndemnisation">
    <th mat-header-cell *matHeaderCellDef> {{ 'statusIndemnisation' | LimitationTableFieldPipe }} </th>
    <td mat-cell *matCellDef="let element" class="text-center">
      <app-limitation-indeminity-status [indeminityStatus]="element.feedbackProducer.indeminityStatus"></app-limitation-indeminity-status>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element" class="text-center">
      <button mat-icon-button (click)="showGraph(element)" [disabled]="!element.activationDocument.startCreatedDateTime || !element.activationDocument.endCreatedDateTime"><i class="fa-solid fa-chart-line"></i></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
