<form [formGroup]="form" (submit)="onSubmit()">

  <!-- Recherche simple -->

  <div class="row">

    <mat-form-field class="col-6 col-lg-2 pe-lg-0" appearance="outline">
      <mat-label>Type de recherche</mat-label>
      <mat-select formControlName="typeDeRechercheSimple">
        <mat-option *ngFor="let t of typesDeRechercheSimple" [value]="t">{{ t | TypeDeRechercheSimple }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-6 col-lg-2 px-lg-0" appearance="outline" [formGroup]="form.get('valeursRecherchees')">
      <mat-label>Filière</mat-label>
      <mat-select formControlName="technologyType" multiple>
        <mat-select-trigger>
          {{ form.value.valeursRecherchees.technologyType | TechnologyType }}
        </mat-select-trigger>
        <mat-option *ngFor="let t of TechnologyTypeEnum | keyvalue" [value]="t.key">{{ t.value | TechnologyType }}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field class="col-12 col-lg-8 ps-lg-2" appearance="outline">
      <mat-label>{{ form.value.typeDeRechercheSimple | TypeDeRechercheSimple }}</mat-label>
      <input matInput [placeholder]="form.value.typeDeRechercheSimple | TypeDeRechercheSimple" type="text" formControlName="champDeRechercheSimple">
      <button matSuffix mat-icon-button class="calageMatSuffixButtonIcon" (click)="switchRechercheAvancee()" type="button">
        <i class="fas fa-sliders-h" [ngClass]="{'text-primary':rechercheAvancee}"></i>
      </button>
      <button class="ms-3 calageMatSuffixButton" mat-raised-button matSuffix color="primary" [disabled]="form.invalid" type="submit" *ngIf="!rechercheAvancee">Rechercher</button>
    </mat-form-field>
    
  </div>

  <!-- Recherche avancée -->

  <div class="row mt-3" *ngIf="rechercheAvancee" [formGroup]="form.get('valeursRecherchees')">
    
    <mat-form-field class="col-12 col-lg-6" appearance="outline">
      <mat-label>Code Poste Source</mat-label>
      <input matInput placeholder="Poste Source" type="text" formControlName="substationMrid">
    </mat-form-field>
    
    <mat-form-field class="col-12 col-lg-6" appearance="outline">
      <mat-label>Nom Poste Source</mat-label>
      <input matInput placeholder="Poste Source" type="text" formControlName="substationName">
    </mat-form-field>
    
    <mat-form-field class="col-12 col-lg-6" appearance="outline">
      <mat-label>Code EIC</mat-label>
      <input matInput placeholder="Poste Source" type="text" formControlName="producerMarketParticipantMrid">
    </mat-form-field>
    
    <mat-form-field class="col-12 col-lg-6" appearance="outline">
      <mat-label>Nom Producteur</mat-label>
      <input matInput placeholder="Poste Source" type="text" formControlName="producerMarketParticipantName">
    </mat-form-field>

    <div class="col text-center mt-3">
      <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">Rechercher</button>
    </div>
  </div>

</form>
