<div class="row">

  <ngx-file-drop #ngxFileDrop [class]="'col-12 my-3 ' + className"
    [accept]="accept"
    [directory]="directory"
    [multiple]="multiple"
    (onFileDrop)="dropped($event)"
    (click)="ngxFileDrop?.openFileSelector()"
    *ngIf="multiple || fichiers.length == 0">
    
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <div class="d-flex flex-column">
          <div class="text-center">
            <i class="fas fa-paperclip me-2"></i>
            <strong class="me-1">Sélectionner {{ multiple ? 'des fichiers' : 'un fichier' }}</strong> ou glisser {{ multiple ? 'des fichiers' : 'un fichier' }}.
          </div>
          <div class="text-center" *ngIf="accept != '*'">(Fichiers acceptés : {{ accept }})</div>
        </div>
      </ng-template>

  </ngx-file-drop>

  <div class="upload-fichier-table col-12 mt-4" *ngIf="fichiers.length > 0">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-big-lines" *ngFor="let item of fichiers">
        <div class="float-end">
          <button mat-icon-button>
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="float-end">
          {{ item.taille }}
        </div>
        <div>
          {{ item.nom }}
        </div>
      </li>
    </ul>
  </div>

</div>