<h2>
  <img src="assets/img/menu-bar/histo.svg" class="pb-2 me-2">
  Historique des limitations
</h2>

<div class="row my-3">
  <div class="col">
    <app-form-activations-recherche (formSubmit)="rechercher($event)" ></app-form-activations-recherche>
  </div>
</div>

<div class="row mt-4" *ngIf="resultatsRecherche.length > 0">
  <div class="col">
    <div class="mb-3">{{ totalElements }} {{ totalElements>1?'résultats':'résultat' }}</div>
    <app-activations-pagination (paginationModifiee)="paginationModifiee($event)" [pageSize]="pageSize"></app-activations-pagination>
  </div>
</div>

<div class="row my-3" *ngIf="resultatsRecherche.length > 0">
  <div class="col-12 my-3">
    <app-activations-resultats [data]="resultatsRecherche"></app-activations-resultats>
  </div>
</div>

<div class="row my-3 text-center" *ngIf="afficherBoutonSuite">
  <div class="col">
    <button class="h5" mat-button color="primary" (click)="afficherLaSuite()">Voir la suite</button>
  </div>
</div>