<h2>
  <img src="assets/img/menu-bar/histo.svg" class="pb-2 me-2" alt="histo"/>
  Historique des limitations
</h2>

<div class="row my-3">
  <div class="col">
    <app-form-limitations-recherche (formSubmit)="rechercher($event)"></app-form-limitations-recherche>
  </div>
</div>

<div class="row mt-4" *ngIf="researchResultsWithOnlyOneSuborder && researchResultsWithOnlyOneSuborder.length > 0">
  <div class="col">
    <div class="mb-4">{{ researchResultsWithOnlyOneSuborder.length }} {{ researchResultsWithOnlyOneSuborder.length>1 ? 'résultats' : 'résultat' }}</div>
    <div class="row">
      <div class="col-8">
        <h4>Filtres sur l’Historique des Limitations</h4>
        <app-limitations-filter-on-results [researchResult]="researchResultsWithOnlyOneSuborder" (typeLimitationChange)="typeLimitationFilterChange($event)" (motifNameChange)="motifNameFilterChange($event)" (indeminityStatusChange)="indeminityStatusFilterChange($event)"></app-limitations-filter-on-results>
      </div>
      <div class="col-4">
        <h4>Colonnes</h4>
        <app-limitations-column-selector (columnsToDisplayChange)="updateColumnsToDisplay($event)"></app-limitations-column-selector>
      </div>
    </div>
  </div>
</div>

<div class="row my-3" *ngIf="researchResultsWithOnlyOneSuborderFiltered && researchResultsWithOnlyOneSuborderFiltered.length > 0">
  <div class="col">
    <app-limitations-resultats [data]="researchResultsWithOnlyOneSuborderFiltered" [columnsToDisplay]="columnsToDisplay"></app-limitations-resultats>
  </div>
</div>

<div class="row my-3 mt-5" *ngIf="researchResultsWithOnlyOneSuborder && researchResultsWithOnlyOneSuborder.length == 0">
  <div class="col-12 text-center">
    Aucun résultat...
  </div>
</div>
