<form [formGroup]="form" (submit)="onSubmit()">

  <div class="row">

    <app-uploader-fichier class="col-12"
      [accept]="'.json'"
      [multiple]="true"
      [className]="'uploaderFichier'"
      [tailleMaxFichiers]="tailleMaxUploadFichiers"
      (listeFichiersModifiees)="modificationListeFichiers($event)">
    </app-uploader-fichier>

    <div class="col-12 text-center mt-3">
      <button mat-raised-button color="primary" [disabled]="form.invalid || !uploaderFichiersOk" type="submit">Importer</button>
      <p [class]="'mt-1 tailleMaxFichiers ' + ((!uploaderFichiersOk && listeFichiers.length > 0) ? 'text-danger' : '')">
        (Taille Maximum : {{ tailleMaxUploadFichiersStr }})
      </p>
    </div>
    
  </div>

</form>
