<table mat-table [dataSource]="data" class="w-100 activations">
  
  <ng-container matColumnDef="technologyType">
    <th mat-header-cell *matHeaderCellDef> Filière </th>
    <td mat-cell *matCellDef="let element"> {{element.technologyType}} </td>
  </ng-container>
  
  <ng-container matColumnDef="originAutomationRegisteredResourceMrid">
    <th mat-header-cell *matHeaderCellDef> Poste Source </th>
    <td mat-cell *matCellDef="let element"> {{element.originAutomationRegisteredResourceMrid}} </td>
  </ng-container>
  
  <ng-container matColumnDef="producerMarketParticipantName">
    <th mat-header-cell *matHeaderCellDef> Nom Producteur </th>
    <td mat-cell *matCellDef="let element"> {{element.producerMarketParticipantName}} </td>
  </ng-container>
  
  <ng-container matColumnDef="siteName">
    <th mat-header-cell *matHeaderCellDef> Nom Site </th>
    <td mat-cell *matCellDef="let element"> {{element.siteName}} </td>
  </ng-container>
  
  <ng-container matColumnDef="producerMarketParticipantMrid">
    <th mat-header-cell *matHeaderCellDef> Code Producteur </th>
    <td mat-cell *matCellDef="let element"> {{element.producerMarketParticipantMrid}} </td>
  </ng-container>
  
  <ng-container matColumnDef="debutLimitation">
    <th mat-header-cell *matHeaderCellDef> Début limitation </th>
    <td mat-cell *matCellDef="let element"> ??? </td>
  </ng-container>
  
  <ng-container matColumnDef="finLimitation">
    <th mat-header-cell *matHeaderCellDef> Fin limitation </th>
    <td mat-cell *matCellDef="let element"> ??? </td>
  </ng-container>
  
  <ng-container matColumnDef="typeLimitation">
    <th mat-header-cell *matHeaderCellDef> Type de limitation </th>
    <td mat-cell *matCellDef="let element"> ??? </td>
  </ng-container>
  
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> ENE/I </th>
    <td mat-cell *matCellDef="let element"> {{element.quantity}} (ajouter unité)</td>
  </ng-container>
  
  <ng-container matColumnDef="motif">
    <th mat-header-cell *matHeaderCellDef> Motif </th>
    <td mat-cell *matCellDef="let element"> ??? </td>
  </ng-container>
  
  <ng-container matColumnDef="indemnisation">
    <th mat-header-cell *matHeaderCellDef> Eligible indemnisation </th>
    <td mat-cell *matCellDef="let element"> TODO </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
