<div>

  <!-- Accueil -->
  <div>
    <div mat-subheader>
      Accueil
    </div>
    <a [routerLink]="[PATH_ROUTE.ACCUEIL]" routerLinkActive="menu-active">
      <i class="fas fa-folder me-3"></i>
      Accueil
    </a>
    <mat-divider class="mt-3 mb-2"></mat-divider>
  </div>

  <!-- Réseau -->
  <div>
    <div mat-subheader>
      Réseau
    </div>
    <a [routerLink]="[PATH_ROUTE.RESEAU]" routerLinkActive="menu-active">
      <i class="fas fa-folder me-3"></i>
      Réseau
    </a>
    <mat-divider class="mt-3 mb-2"></mat-divider>
  </div>

  <!-- Activations -->
  <div>
    <div mat-subheader>
      Activations
    </div>
    <a [routerLink]="[PATH_ROUTE.ACTIVATIONS]" routerLinkActive="menu-active">
      <i class="fas fa-folder me-3"></i>
      Activations
    </a>
    <mat-divider class="mt-3 mb-2"></mat-divider>
  </div>

  <!-- Charger -->
  <div>
    <div mat-subheader>
      Charger
    </div>
    <a [routerLink]="[PATH_ROUTE.CHARGER]" routerLinkActive="menu-active">
      <i class="fas fa-folder me-3"></i>
      Charger
    </a>
    <mat-divider class="mt-3 mb-2"></mat-divider>
  </div>

  <!-- Déconnexion -->
  <div>
    <div mat-subheader>
      Déconnexion
    </div>
    <a>
      <i class="fas fa-folder me-3"></i>
      Déconnexion
    </a>
    <mat-divider class="mt-3 mb-2"></mat-divider>
  </div>

  


</div>