<!-- Logo -->
<div id="logo" class="mx-auto w-75 mt-3">
  <img src="assets/img/menu-bar/logo-S.png">
  <mat-divider class="d-none d-xl-block mt-3 mb-2"></mat-divider>
  <p class="d-none d-xl-block">
    Système de Traçabilité<br/>
    des Activations de<br/>
    Renouvelables
  </p>
</div>

<!-- Menu -->
<a [routerLink]="[PATH_ROUTE.ACCUEIL]" routerLinkActive="menu-active">
  Accueil
</a>

<a [routerLink]="[PATH_ROUTE.RESEAU]" routerLinkActive="menu-active">
  Réseau
</a>

<a [routerLink]="[PATH_ROUTE.ACTIVATIONS]" routerLinkActive="menu-active">
  Activations
</a>

<a [routerLink]="[PATH_ROUTE.CHARGER]" routerLinkActive="menu-active">
  Charger
</a>

<div class="mt-auto">
  <a>
  Déconnexion
  </a>
</div>
