<h2>
  <img src="assets/img/menu-bar/charger.svg" class="pb-2 me-2">
  Charger des données
</h2>

<div class="row my-3">
  <mat-form-field appearance="outline" class="col-md-6 col-xl-4">
    <mat-label>Type de données</mat-label>
    <mat-select [disabled]="!typesImport || typesImport.length==0" (selectionChange)="onSelectTypeImport($event.value)">
      <mat-option value=""></mat-option>
      <mat-option [value]="typeImport" *ngFor="let typeImport of typesImport">{{ typeImport }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="row my-3" *ngIf="typeImportSelected == TypeImportEnum.OrdreDebutLimitation">
  <div class="col">
    <app-form-ordre-debut-limitation></app-form-ordre-debut-limitation>
  </div>
</div>

<div class="row my-3" *ngIf="typeImportSelected == TypeImportEnum.OrdreFinLimitation">
  <div class="col">
    <app-form-ordre-fin-limitation></app-form-ordre-fin-limitation>
  </div>
</div>