<h2>
  <img src="assets/img/menu-bar/charger.svg" class="pb-2 me-2">
  Charger des données
</h2>

<div class="row mt-3">
  <mat-form-field appearance="outline" class="col-md-6 col-xl-4">
    <mat-label>Type de données</mat-label>
    <mat-select [disabled]="!typesImport || typesImport.length==0" (selectionChange)="onSelectTypeImport($event.value)">
      <mat-option value=""></mat-option>
      <mat-option [value]="typeImport" *ngFor="let typeImport of typesImport">{{ typeImport }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="row mt-4">
  <div class="col">
    <app-form-ordre-debut-limitation *ngIf="typeImportSelected == TypeImportEnum.OrdreDebutLimitation"></app-form-ordre-debut-limitation>
    <app-form-ordre-fin-limitation *ngIf="typeImportSelected == TypeImportEnum.OrdreFinLimitation"></app-form-ordre-fin-limitation>
    <app-form-ordre-debut-et-fin-limitation *ngIf="typeImportSelected == TypeImportEnum.OrdreDebutEtFinLimitation"></app-form-ordre-debut-et-fin-limitation>
    <app-form-courbe-comptage-reference *ngIf="typeImportSelected == TypeImportEnum.CourbeComptageReference || typeImportSelected == TypeImportEnum.CourbeComptage"></app-form-courbe-comptage-reference>
    <app-form-ene-eni *ngIf="typeImportSelected == TypeImportEnum.EneEni"></app-form-ene-eni>
  </div>
</div>
