<button mat-raised-button
        [class]="!buttonCreationFeedbackDisabled ? 'bg-dark text-white' : ''"
        (click)="commentaireProducer()"
        [disabled]="buttonCreationFeedbackDisabled"
        *ngIf="instance == InstanceEnum.PRODUCER && (!activation?.feedbackProducer?.feedback)"
>
  <div style="line-height: 20px !important; margin:6px">Jusqu'au<br/>{{ activation?.feedbackProducer?.validityPeriodEndDateTime | date:'shortDate' }}</div>
</button>


<!--<i class="fa-solid fa-message"></i>-->
