@use "@angular/material" as mat;
@include mat.core();

// Copy the palettes from your selected theme
$app-primary: mat.define-palette(mat.$light-blue-palette, 500);
$app-accent: mat.define-palette(mat.$pink-palette, A200);
$app-warn: mat.define-palette(mat.$red-palette);
$app-disabled: mat.define-palette(mat.$grey-palette);
$app-dark: mat.define-palette(mat.$grey-palette, 900);
$app-warning: mat.define-palette(mat.$amber-palette);
$app-success: mat.define-palette(mat.$green-palette, 700);
$app-info: mat.define-palette(mat.$blue-palette, 400);

// Create your color vars => can be used everywhere
$mat-primary: mat.get-color-from-palette($app-primary);
$mat-accent: mat.get-color-from-palette($app-accent);
$mat-warn: mat.get-color-from-palette($app-warn);
$mat-disabled: mat.get-color-from-palette($app-disabled);
$mat-dark: mat.get-color-from-palette($app-dark);
$mat-warning: mat.get-color-from-palette($app-warning);
$mat-success: mat.get-color-from-palette($app-success);
$mat-info: mat.get-color-from-palette($app-info);

$mat-text: #555555;

// Theme
$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
    ),
  )
);
@include mat.all-component-themes($my-theme);
