@import "./_bootstrap-for-angular.scss";

@font-face {
  font-family: "Avenir";
  src: url(./assets/font/HindSiliguri-Regular.ttf) format("truetype");
}

body {
  font-size: 1.1rem;
  color: $mat-grey;
  font-family: Avenir, Roboto, "Helvetica Neue", sans-serif;
  background-color: #f2f2f2;
}

#menu {
  background-color: #ffffff;

  #logo img {
    max-width: 100%;
  }

  #logo p {
    color: $mat-primary;
    font-size: 0.8rem;
  }

  a {
    text-decoration: none;
    color: $mat-grey;
    font-weight: bold;
    border-radius: 10px;
  }

  a.menu-active {
    color: $mat-primary;
    background-color: #e6f7fc;
  }

  a.deconnexion {
    font-size: 0.8em;
    cursor: pointer;
  }

  .menu-active .iconeLienMenu {
    display: none;
  }

  .menu-active .iconeLienMenuActive {
    display: inline !important;
  }
}
