@import "./_bootstrap-for-angular.scss";

@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

body {
  font-size: 1.1rem;
  color: $mat-text;
  font-family: "Hind Siliguri", sans-serif;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

// Titles
h1 {
  font-weight: lighter !important;
  font-size: 2em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
  font-weight: bold !important;
  font-size: 1.3em;
  color: $mat-primary;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: 1em;
}

h3 {
  font-weight: bolder !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.1em;
}

// Pointer
.pointer {
  cursor: pointer;
}

// Lists
.list-group-big-lines {
  line-height: 3em !important;
}

// Forms
.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #ffffff; // couleur de fond des inputs
  border-radius: 5px;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important; // espacement vertical entre les inputs
}

.calageMatSuffixButtonIcon {
  top: -0.5em !important;
}

.calageMatSuffixButton {
  top: -0.75em !important;
}

// Menu
#menu {
  background-color: #ffffff;

  #logo img {
    max-width: 100%;
  }

  #logo p {
    color: $mat-primary;
    font-size: 0.8rem;
  }

  a {
    color: $mat-text;
    font-weight: 500;
    border-radius: 10px;
  }

  a.menu-active {
    color: $mat-primary;
    font-weight: bold;
    background-color: #e6f7fc;
  }

  a.deconnexion {
    font-size: 0.8em;
    cursor: pointer;
  }

  .menu-active .iconeLienMenu {
    display: none;
  }

  .menu-active .iconeLienMenuActive {
    display: inline !important;
  }

  .environmentType {
    text-align: center;
    font-weight: 700;
    color: $mat-accent;
    font-size: .95em;
  }

  .participantName {
    text-align: center;
    font-weight: 500;
    color: $mat-primary;
    font-size: 0.9em;
  }

  .username {
    text-align: center;
    font-size: 0.8em;
  }

  .version {
    text-align: center;
    font-size: 0.75em;
  }
}

// Snackbar
.success-snackbar {
  color: #fff !important;
  background-color: $mat-success !important;
}

.error-snackbar {
  color: #fff !important;
  background-color: $mat-warn !important;
}

.mat-simple-snackbar-action {
  color: #fff !important;
}

// Callout (messages)
.bd-callout {
  padding: 1.25rem;
  border-left: 0.25rem solid;
  border-radius: 0.25rem;
}

.bd-callout-warning {
  background: #fff3cd;
  border-color: #f0ad4e !important;
}

.bd-callout-warning h5 {
  color: #856404;
}

.bd-callout-info {
  background: #d1ecf1;
  border-color: #17a2b8 !important;
}

.bd-callout-info h5 {
  color: #0c5460;
}

.bd-callout-danger {
  background: #f8d7da;
  border-color: #d9534f !important;
}

.bd-callout-danger h5 {
  color: #721c24;
}

// Badge
.badge-star {
  border-radius: 20px;
  padding: 0 20px;
  font-size: 0.8em;
}

.badge-star.primary {
  color: $mat-primary;
  background-color: #e6f7fc;
}

.badge-star.blanc {
  color: $mat-primary;
  background-color: white;
}

// Sites production
.sites-production-resultat {
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
}

.sites-production-resultat-detail {
  border-radius: 15px;
  overflow: hidden; // Allows achild divs enfant to "respect" the radius of their parent

  .header {
    background-color: $mat-primary;

    h3 {
      color: white;
    }

    ul.sites-production-resultat-detail-liste-fichiers {
      list-style-type: none;
      padding: 0;
      margin: 0;

      a {
        color: #FFFFFF !important;
      }
    }

    .price {
      font-size: 1.3em;
    }

    .dates {
      font-size: 1.1em;
    }
  }

  .label {
    font-weight: 600;
  }

  .body {
    background-color: white;
  }
}

// Limitations
.limitations {
  background-color: rgb(0, 0, 0, 0);
  border-collapse: separate;
  border-spacing: 0 10px !important;

  thead {
    background-color: $mat-primary;

    th {
      font-size: 0.9rem;
      padding-top: 2.25em;
      padding-bottom: 2.25em;
    }
  }

  .mat-header-cell {
    color: white !important;
  }

  .mat-sort-header-arrow {
    color: white !important;
  }

  tr td {
    /*To remove the last border*/
    border-bottom: 0 solid;
  }

  tbody {
    tr {
      background-color: white;
    }

    td {
      padding-top: 25px !important;
      padding-bottom: 25px !important;
      color: $mat-text !important;
    }

    .text-emph {
      color: $mat-primary !important;
      font-weight: 500;
    }
  }
}

// Navigation buttons
.boutonNavigation {
  padding: 10px 40px;
  border-radius: 35px;
  background-color: $mat-primary;
  display: inline-block !important;
  cursor: pointer;

  span {
    color: white !important;
  }
}

.boutonNavigation-white {
  padding: 10px 40px;
  border-radius: 35px;
  background-color: #ffffff;
  display: inline-block !important;
  cursor: pointer;

  span {
    color: $mat-primary !important;
  }
}

// Files uploader
.uploaderFichier {
  color: inherit !important;

  .ngx-file-drop__content {
    color: inherit !important;
  }

  .ngx-file-drop__drop-zone {
    height: 150px !important;
    border: 2px dashed $mat-text !important;
    border-radius: 30px !important;
    background-color: white !important;
  }

  .ngx-file-drop__content {
    height: 150px !important;
  }
}

.uploaderFichier.full .ngx-file-drop__drop-zone {
  border: 1px solid $mat-text !important;
  background-color: rgb(197, 197, 197) !important;
}

.upload-fichier-table {
  background-color: white;
  border-radius: 30px !important;
  padding: 20px 40px;
}

.tailleMaxFichiers {
  font-size: 0.8em;
}

// div panel messages
.panel-message {
  background-color: white !important;
  border-radius: 15px !important;
}

// Stepper
.mat-stepper-horizontal,
.mat-stepper-vertical {
  background-color: inherit !important;
}

.mat-horizontal-content-containe {
  padding: 0px;
}

.disabledHeaderNavigation {
  // Desactiver la navigation en cliquant sur le header
  .mat-horizontal-stepper-header {
    pointer-events: none !important;
  }
}

// Graph
.graph-bottom-sheet {
  min-width: 80vw !important;
  min-height: 50vh !important;
}

.echarts {
  width: 100%;
  height: 100%;
}
