@import "./_bootstrap-for-angular.scss";

@font-face {
  font-family: "Avenir";
  src: url(./assets/font/HindSiliguri-Regular.ttf) format("truetype");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 1em;
  font-family: Avenir, Roboto, "Helvetica Neue", sans-serif;
}
