<h2>Commentaires</h2>

<ng-container *ngIf="this.bottomSheetParams.feedbackElements">
  <h3>Type de commentaire</h3>
  {{ this.bottomSheetParams.feedbackElements }}
</ng-container>

<ng-container *ngIf="this.bottomSheetParams.feedback">
  <h3 class="mt-4">Retour producteur</h3>
  {{ this.bottomSheetParams.feedback }}
</ng-container>

<ng-container *ngIf="this.bottomSheetParams.feedbackAnswer">
  <h3 class="mt-4">Réponse</h3>
  {{ this.bottomSheetParams.feedbackAnswer }}
</ng-container>


<ng-container *ngIf="afficherFormulaire">
  <form [formGroup]="form" (submit)="onSubmit()">

    <div class="row">

      <div class="col-12 text-center mt-3">
        <button mat-raised-button color="primary"
                [disabled]="form.invalid || loading" type="submit">
          Ajouter
          <i class="fa-solid fa-hourglass ms-2" *ngIf="loading"></i>
        </button>
      </div>

    </div>

  </form>
</ng-container>
