<h2>Commentaires</h2>

<ng-container *ngIf="this.bottomSheetParams.feedbackElements">
  <h3>Type de commentaire</h3>
  {{ this.bottomSheetParams.feedbackElements }}
</ng-container>

<ng-container *ngIf="this.bottomSheetParams.feedback">
  <h3 class="mt-4">Retour producteur</h3>
  {{ this.bottomSheetParams.feedback }}
</ng-container>

<ng-container *ngIf="this.bottomSheetParams.feedbackAnswer">
  <h3 class="mt-4">Réponse</h3>
  {{ this.bottomSheetParams.feedbackAnswer }}
</ng-container>


<ng-container *ngIf="afficherFormulaire">
  <h3>Poster un message</h3>

  <mat-stepper #stepperRef [linear]="true" class="disabledHeaderNavigation">

    <mat-step [stepControl]="form" label="Formulaire">
      <form [formGroup]="form">
        <div class="row">

          <div class="col-12 text-center mt-3">
            <button mat-raised-button color="primary" [disabled]="!form.valid" matStepperNext>Suivant</button>
          </div>

        </div>
      </form>
    </mat-step>


    <mat-step label="Résumé">

      <div class="row panel-message p-4 mt-3">
      le resumé
      </div>

      <div class="col-12 text-center mt-4">
        <button mat-raised-button class="me-3 text-primary" matStepperPrevious>Modifier</button>
        <button mat-raised-button color="primary" [disabled]="form.invalid || loading" (click)="onSubmit(stepperRef)">
          Charger les données
          <i class="fa-solid fa-hourglass ms-2" *ngIf="loading"></i>
        </button>
      </div>

    </mat-step>

  </mat-stepper>

</ng-container>
