<form [formGroup]="form" (submit)="onSubmit()">

  <h2>Ajout d'un tarif unitaire</h2>

  <div class="row">

    <mat-form-field class="col-12 col-lg-6" appearance="outline">
      <mat-label>Tarif unitaire de valorisation de l'énergie</mat-label>
      <input matInput placeholder="Tarif unitaire de valorisation de l'énergie" formControlName="energyPriceAmount">
    </mat-form-field>

    <mat-form-field class="col-12 col-lg-6" appearance="outline">
      <mat-label>Date d'effet</mat-label>
      <input matInput placeholder="Date d'effet" [matDatepicker]="pickerDateEffet"
             formControlName="validityPeriodStartDateTime">
      <mat-datepicker-toggle matSuffix [for]="pickerDateEffet"></mat-datepicker-toggle>
      <mat-datepicker #pickerDateEffet></mat-datepicker>
    </mat-form-field>

    <app-uploader-fichier class="col-12"
                          [accept]="'.pdf'"
                          [multiple]="true"
                          [className]="'uploaderFichier'"
                          [tailleMaxFichiers]="tailleMaxUploadFichiers"
                          (listeFichiersModifiees)="modificationListeFichiers($event)">
    </app-uploader-fichier>

    <div class="col-12 bd-callout bd-callout-danger mt-3" *ngIf="errors && errors.length != 0">
      <h5>Erreur{{errors.length == 1 ? '' : 's'}} :</h5>
      <ul class="mb-0">
        <li *ngFor="let error of errors">{{ error }}</li>
      </ul>
    </div>

    <div class="col-12 text-center mt-3">
      <button mat-raised-button color="primary"
              [disabled]="form.invalid || (listeFichiers.length > 0 && (!tailleFichierOk || !extensionFichiersOk)) || loading" type="submit">
        Ajouter
        <i class="fa-solid fa-hourglass ms-2" *ngIf="loading"></i>
      </button>
      <p [class]="'mt-2 tailleMaxFichiers ' + ((!tailleFichierOk && listeFichiers.length > 0) ? 'text-danger' : '')">
        (Taille maximum des fichiers : {{ tailleMaxUploadFichiersStr }})
      </p>
    </div>

  </div>

</form>
