<h2>
  <img src="assets/img/menu-bar/reseau.svg" class="pb-2 me-2" alt="reseau">
  Recherche d’un site de production
</h2>

<div class="row my-3">
  <div class="col">
    <app-form-sites-production-recherche (formSubmit)="rechercher($event)" ></app-form-sites-production-recherche>
  </div>
</div>

<div class="row mt-4" *ngIf="resultatsRecherche && resultatsRecherche.length > 0">
  <div class="col">
    <div class="mb-3">{{ resultatsRecherche.length }} {{ resultatsRecherche.length > 1 ? 'résultats' : 'résultat' }}</div>
  </div>
</div>

<div class="row my-3" *ngIf="resultatsRecherche && resultatsRecherche.length > 0">
  <div class="col-12 my-3" *ngFor="let resultat of resultatsRecherche">
    <app-sites-production-resultat [resultat]="resultat" (reserveBidChange)="refresh()"></app-sites-production-resultat>
  </div>
</div>

<div class="row my-3 mt-5" *ngIf="resultatsRecherche && resultatsRecherche.length == 0">
  <div class="col-12 text-center">
    Aucun résultat...
  </div>
</div>
