<div class="text-end">

  <button mat-icon-button class="me-2" (click)="reconciliate()" [disabled]="pendingReconciliation" matTooltip="Lancer la réconciliation" *ngIf="typeInstance != InstanceEnum.PRODUCER">
    <i class="fa-solid fa-handshake lead" *ngIf="!pendingReconciliation"></i>
    <i class="fa-solid fa-hourglass" *ngIf="pendingReconciliation"></i>
  </button>

  <button mat-icon-button class="me-4">
    <img src="assets/img/general/notif-OFF.svg" *ngIf="!hasNotifs" alt="notif"/>
    <img src="assets/img/general/notif-OFF-digit.svg" *ngIf="hasNotifs" alt="notif-digit"/>
  </button>

  <a class="text-primary" [routerLink]="['/']">
    <img src="assets/img/general/help.svg" class="me-2" alt="help"/>
    <strong>Aide</strong>
  </a>

</div>
