<h1 class="display-5 text-primary mb-5">Bienvenue</h1>

<div class="row">
  <div class="col">
    <h2>
      <img src="assets/img/menu-bar/reseau.svg" class="pb-2 me-2">
      Rechercher dans le réseau
    </h2>
    <app-form-reseau-recherche (formSubmit)="formRechercheReseauSubmit($event)"></app-form-reseau-recherche>
  </div>
</div>

<mat-divider class="my-5"></mat-divider>

<div class="row">
  <div class="col">
    <h2>
      <img src="assets/img/menu-bar/histo.svg" class="pb-2 me-2">
      Consulter l'historique des limitations
    </h2>
    <app-form-activations-recherche (formSubmit)="formRechercheActivationsSubmit($event)"></app-form-activations-recherche>
  </div>
</div>

<mat-divider class="my-5"></mat-divider>

<div class="row">
  <div class="col mb-3">
    <a [routerLink]="['/',PATH_ROUTE.CHARGER]" class="boutonNavigation">
      <img src="assets/img/menu-bar/charger-blanc.svg" class="pb-1 me-2"/>
      <span>Charger des données</span>
    </a>
  </div>
</div>

